@import "../../styles/base.scss";

.contactUs {
  text-align: center;
  @include setFontSize($text-medium);

  h1 {
    margin-bottom: 20px;
    @include setFontSize($heading-small);
  }

  article {
    padding: 0 10px;
  }

  .boxContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin-top: 20px;

    // animation
    .fadeIn {
      @include fadeIn(box);
    }

    section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      max-width: 40vw;
      min-width: 250px;
      min-height: 16rem;
      padding: 10px;
      border: 1px solid #000;
      margin: 10px;

      transform: translate(0px, 0px);

      article * {
        margin: 10px auto;
      }

      button {
        padding: 10px 20px;
      }

      .callNow,
      .chatNow {
        width: 10rem;
        margin: auto;
        @include setFontSize($text-medium);
      }

      .callNow {
        background-color: $cta-color;

        &:hover {
          background-color: transparent;
          font-weight: 600;

          transition: background-color 1s;
        }
      }

      .chatNow {
        display: flex;
        justify-content: space-evenly;
        position: relative;

        text-align: center;
        margin: auto;

        &:hover .label {
          opacity: 0;
          z-index: -1;
          transition: opacity 0.5s 0.125s ease-out;
        }
        &:hover .icon {
          border-radius: 1em;
          margin: 0 0;
        }
        .icon,
        .label {
          background-color: $cta-color;
        }

        .label {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;

          opacity: 1;
          cursor: pointer;
          transition: opacity 0.5s 0.75s ease-out;
        }

        .icon {
          height: 35px;
          width: 35px;
          border-radius: 50%;
          background-color: #fff;

          &:hover {
            background-color: $cta-color;
          }
        }
      }
    }
  }
}
