@import "../../../styles/base.scss";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  
  position: sticky;
  bottom: 0;

  width: 100%;
  height: $footer-height;
  background-color: $light-white;
  z-index: $topZIndexLayer;
  @include setFontSize($text-small);

  a {
    display: flex;
    justify-content: center;
    align-items: center;
  
    flex-grow: 1;
  }
}
