@import '../../styles/base.scss';

// animations
@keyframes scaleUp {
    from{
        transform: scale(0.1);
    }
    to{
        transform: scale(1);
    }
}

@keyframes rotateSideways {
    0%, 100%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(180deg);
    }
}



.hero{   
    margin: auto;
    text-align: center;
    width: fit-content;
    font-size: $para-size;
    
    h1{
        font-size: $heading-size;
        margin-top: 70px;
        
        animation: scaleUp 1s 1;

        span{
            display: inline-block;
            text-shadow: 2px 2px 1px $name-text-shadow;
        }
        .flip{
            color: $sky-blue;

            animation: rotateSideways 0.5s ease-out;
        }
    }

    article{
        margin-top: 50px;

        @media screen and (max-width: 500px) {
            padding: 0 10px;
        }
    }

    a{
        margin: 50px auto;
    }
}