@import "../../styles/base.scss";

// animations
@keyframes rotateSideways {
  0%,
  100% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
}


$minWidthForStyles: 860px;

.hero {
  text-align: justify;
  @include setFontSize($text-medium);

  @media (max-width: $minWidthForStyles) {
    text-align: center;
    justify-content: center;
    height: fit-content;
    scroll-snap-align: start;
  }

  .aboutMe {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    .leftSide,
    .rightSide {
      padding: 0 20px;
      height: max-content;
    }

    .rightSide {
      @include setFontSize($text-small);
    }

    h1 {
      @include setFontSize($heading-large);
      z-index: $topZIndexLayer;
      transition: all 2s ease;

      span {
        display: inline-block;
        text-shadow: 2px 2px 1px $name-text-shadow;
      }
      .bounce{
        opacity: 1;
      }
      .flip {
        color: $sky-blue;
        animation: rotateSideways 0.5s ease-out;
      }
    }

    article {
      margin-top: 40px;
      max-width: 20rem;

      @media screen and (max-width: 500px) {
        padding: 0 10px;
      }
    }

    a {
      div {
        margin-top: 50px;

        @media (max-width: $minWidthForStyles) {
          margin: 50px auto;
        }
      }
    }
  }
}
