@import "../../styles/base.scss";

.footer {
  position: sticky;
  bottom: 0;

  width: 100%;
  height: $footer-height;
  background-color: $light-white;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
}
