@import '../../styles/base.scss';

.featuredProjects{
    justify-content: space-evenly;
    text-align: center;
    .projects{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}