@import "base";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;

  font-family: $font;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  scroll-behavior: smooth;

  @media (min-width: 785px) {
    height: 100%;
    scroll-snap-align: center;
  }
}

// custom scroll bar styles
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: rgb(236, 236, 236);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(197, 197, 197);
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(156, 156, 156);
}

.tags {
  margin: 5px 10px;
  color: #000;

  span {
    display: inline-flex;
    align-items: center;

    cursor: pointer;
    margin: 5px;
    padding: 1px 10px;
    background-color: $lighter-gray;
    border: 1px solid gray;
    border-radius: 20px;
  }
}

a {
  color: #000;
  text-decoration: none;
}
